In [3]:
import numpy as np
import pandas as pd

titan = pd.DataFrame()
titan['Name'] = ['혜교','지현']
titan['Age']= [38, 25]
titan['sex']= ['female','female']
print(titan.tail())

  Name  Age     sex
0   혜교   38  female
1   지현   25  female

In [63]:
person = pd.Series(['수지', 23,'female'], index=['Name','Age','Sex'])
titan = titan.append(person, ignore_index=True)
print(titan)
nums = [10,20,30,40,50]
idx = ['a','b','c','d','e']
df = pd.DataFrame(nums, idx)
print('생성된 데이터프레임\n',df)

  Name  Age     sex     Sex
0   혜교   38  female     NaN
1   지현   25  female     NaN
2   수지   23     NaN  female
생성된 데이터프레임
     0
a  10
b  20
c  30
d  40
e  50

In [47]:
# 데이터프레임에  새로운 열 추가하기
floats = [1.5,2.5,3.5,4.5,5.5]
df['floats'] = floats
print('수정된 데이터프레임\n', df)

수정된 데이터프레임
     0  floats
a  10     1.5
b  20     2.5
c  30     3.5
d  40     4.5
e  50     5.5

In [48]:
#컬럼명 수정하기
df.columns = ['ints','floats']
print('수정된 데이터프레임\n', df)

수정된 데이터프레임
    ints  floats
a    10     1.5
b    20     2.5
c    30     3.5
d    40     4.5
e    50     5.5

In [49]:
# 새로운 행을 추가하기
df = df.append({'ints':60, 'floats':6.5}, ignore_index= True)
print('수정된 데이터프레임\n', df)

수정된 데이터프레임
    ints  floats
0  10.0     1.5
1  20.0     2.5
2  30.0     3.5
3  40.0     4.5
4  50.0     5.5
5  60.0     6.5

In [52]:
# 새로운 행을 추가하기, 인덱스 지정
df = df.append(pd.DataFrame({'ints':70, 'floats':7.5}, index=[6,]))
print('수정된 데이터프레임\n', df)

수정된 데이터프레임
    ints  floats
0  10.0     1.5
1  20.0     2.5
2  30.0     3.5
3  40.0     4.5
4  50.0     5.5
5  60.0     6.5
6  70.0     7.5

In [54]:
# 데이터 프레임 합치기 - join
# 두 데이터프레임을 합치는 기준은 index
# index가 없는 데이터를 합치는 경구 NaN으로 저장
df.index = ['a','b','c','d','e','f','g']

df2 = pd.DataFrame([1,4,9,16,25], index=['a','b','x','y','z'])
print('수정된 데이터프레임\n', df2)

수정된 데이터프레임
     0
a   1
b   4
x   9
y  16
z  25

In [61]:
#print('조인된 데이터 프레임\n', df3)
df4 = df.join(df2, how= 'inner')   # 일치하는 인덱스 위주
print('inner 조인된 데이터 프레임\n', df4)
df5 = df.join(df2, how= 'outer')   # 일치하지 않는 인덱스 위주
print('outer 조인된 데이터 프레임\n', df5)

inner 조인된 데이터 프레임
    ints  floats  0
a  10.0     1.5  1
b  20.0     2.5  4
outer 조인된 데이터 프레임
    ints  floats     0
a  10.0     1.5   1.0
b  20.0     2.5   4.0
c  30.0     3.5   NaN
d  40.0     4.5   NaN
e  50.0     5.5   NaN
f  60.0     6.5   NaN
g  70.0     7.5   NaN
x   NaN     NaN   9.0
y   NaN     NaN  16.0
z   NaN     NaN  25.0

In [67]:
# df6 = df.join(df, how='left')
# #print('left 조인된 데이터 프레임\n', df6)
# df7= df.join(df, how='right')
# #print('right 조인된 데이터 프레임\n', df7)

In [6]:
# ex) titanic 데이터 셋을 이용한 예제
titanic = pd.read_csv('c:/Java/data/train.csv', encoding='utf-8')

In [8]:
# 타이타닉 데이터 구조 파악
print('데이터 구조 파악(행, 열)', titanic.shape)
print( '기술적 통계 파악\n', titanic.describe())

데이터 구조 파악(행, 열) (891, 12)
기술적 통계 파악
        PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [14]:
# 타이타닉 데이터 중 1번째 승객 정보 출력
print('1번째 승객 정보1\n', titanic.iloc[0])

1번째 승객 정보1
 PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: 0, dtype: object

In [15]:
# 타이타닉 데이터 중 1번째 승객 정보 출력
print('1번째 승객 정보2\n', titanic[:1])

1번째 승객 정보2
    PassengerId  Survived  Pclass                     Name   Sex   Age  SibSp  \
0            1         0       3  Braund, Mr. Owen Harris  male  22.0      1

   Parch     Ticket  Fare Cabin Embarked
0      0  A/5 21171  7.25   NaN        S

In [17]:
# 타이타닉 데이터 중 5-10번째 승객 정보 출력
print('5-10번째 승객 정보2\n', titanic.iloc[4:10])

5-10번째 승객 정보2
    PassengerId  Survived  Pclass  \
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch  Ticket     Fare Cabin Embarked
4      0  373450   8.0500   NaN        S
5      0  330877   8.4583   NaN        Q
6      0   17463  51.8625   E46        S
7      1  349909  21.0750   NaN        S
8      2  347742  11.1333   NaN        S
9      0  237736  30.0708   NaN        C

In [18]:
# 조건 검색하기
print('생존 여부\n', (titanic['Survived']==1).head())

생존 여부
 0    False
1     True
2     True
3     True
4    False
Name: Survived, dtype: bool

In [19]:
print('생존자\n', (titanic[titanic['Survived']==1]).head())

생존자
    PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [23]:
print('남자승객 생존부\n', ((titanic['Survived']==1)&(titanic['Sex']=='male')).head())

남자승객 생존부
 0    False
1    False
2    False
3    False
4    False
dtype: bool

In [24]:
print('25세 이상 여자 승객 생존여부\n', ((titanic['Survived']==1)&(titanic['Age']>=25)&
                              (titanic['Sex']=='female')).head())

25세 이상 여자 승객 생존여부
 0    False
1     True
2     True
3     True
4    False
dtype: bool

In [25]:
a = titanic['Survived']==1
b= titanic['Age']>=25
c=titanic['Sex']=='female'

print('25세 이상 여자 승객 생존여부\n',(a&b&c).head())

25세 이상 여자 승객 생존여부
 0    False
1     True
2     True
3     True
4    False
dtype: bool

In [28]:
print('25세 이상 여자 승객 생존여부\n',titanic[a&b&c][['Age','Sex','Survived']].head(10))

25세 이상 여자 승객 생존여부
      Age     Sex  Survived
1   38.0  female         1
2   26.0  female         1
3   35.0  female         1
8   27.0  female         1
11  58.0  female         1
15  55.0  female         1
25  38.0  female         1
52  49.0  female         1
53  29.0  female         1
61  38.0  female         1