In [31]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

#pd.set_option('displau.expand_frame_repr', False)
# mpl.rcParams['font.family']=''
# mpl.rcParams['font.size'] = 10

# seaborn 에서 제공하는 데이터 셋 - 행성 planet
# 천문학자가 다른 별(외행성) 주변에서 발견한 행성 정보
sns.set()

planets = sns.load_dataset("planets")
planets = pd.DataFrame(planets)
print(planets)

#planets = sns.load_dataset("planets")
print('행성정보', planets.describe())
#print(planets)

               method  number  orbital_period    mass  distance  year
0     Radial Velocity       1      269.300000   7.100     77.40  2006
1     Radial Velocity       1      874.774000   2.210     56.95  2008
2     Radial Velocity       1      763.000000   2.600     19.84  2011
3     Radial Velocity       1      326.030000  19.400    110.62  2007
4     Radial Velocity       1      516.220000  10.500    119.47  2009
5     Radial Velocity       1      185.840000   4.800     76.39  2008
6     Radial Velocity       1     1773.400000   4.640     18.15  2002
7     Radial Velocity       1      798.500000     NaN     21.41  1996
8     Radial Velocity       1      993.300000  10.300     73.10  2008
9     Radial Velocity       2      452.800000   1.990     74.79  2010
10    Radial Velocity       2      883.000000   0.860     74.79  2010
11    Radial Velocity       1      335.100000   9.880     39.43  2009
12    Radial Velocity       1      479.100000   3.880     97.28  2008
13    Radial Velocity       3     1078.000000   2.530     14.08  1996
14    Radial Velocity       3     2391.000000   0.540     14.08  2001
15    Radial Velocity       3    14002.000000   1.640     14.08  2009
16    Radial Velocity       1        4.230785   0.472     15.36  1995
17    Radial Velocity       5       14.651000   0.800     12.53  1996
18    Radial Velocity       5       44.380000   0.165     12.53  2004
19    Radial Velocity       5     4909.000000   3.530     12.53  2002
20    Radial Velocity       5        0.736540     NaN     12.53  2011
21    Radial Velocity       5      261.200000   0.172     12.53  2007
22    Radial Velocity       3        4.215000   0.016      8.52  2009
23    Radial Velocity       3       38.021000   0.057      8.52  2009
24    Radial Velocity       3      123.010000   0.072      8.52  2009
25    Radial Velocity       1      116.688400     NaN     18.11  1996
26    Radial Velocity       1      691.900000     NaN     81.50  2012
27    Radial Velocity       1      952.700000   5.300     97.18  2008
28    Radial Velocity       1      181.400000   3.200     45.52  2013
29            Imaging       1             NaN     NaN     45.52  2005
...               ...     ...             ...     ...       ...   ...
1005          Transit       1        3.693641     NaN    200.00  2012
1006          Transit       1        4.465633     NaN    330.00  2012
1007          Transit       1        4.617101     NaN    255.00  2012
1008          Transit       1        2.838971     NaN    455.00  2012
1009          Transit       1        5.017180     NaN    300.00  2012
1010          Transit       1        7.919585     NaN    125.00  2012
1011          Transit       1        4.305001     NaN    400.00  2012
1012          Transit       1        3.855900     NaN    480.00  2012
1013          Transit       1        4.411953     NaN    160.00  2012
1014          Transit       1        4.378090     NaN    330.00  2012
1015          Transit       1        1.573292     NaN    350.00  2012
1016          Transit       1        2.311424     NaN    310.00  2013
1017          Transit       1        4.086052     NaN    380.00  2012
1018          Transit       1        4.614420     NaN    225.00  2012
1019          Transit       1        2.903675     NaN    345.00  2012
1020          Transit       1        2.216742     NaN    340.00  2012
1021          Transit       1        2.484193     NaN    260.00  2013
1022          Transit       1        1.360031     NaN     93.00  2012
1023          Transit       1        2.175176     NaN    550.00  2012
1024          Transit       1        3.662387     NaN    240.00  2012
1025          Transit       1        3.067850     NaN     60.00  2012
1026          Transit       1        0.925542     NaN    470.00  2014
1027          Imaging       1             NaN     NaN     19.20  2011
1028          Transit       1        3.352057     NaN   3200.00  2012
1029          Imaging       1             NaN     NaN     10.10  2012
1030          Transit       1        3.941507     NaN    172.00  2006
1031          Transit       1        2.615864     NaN    148.00  2007
1032          Transit       1        3.191524     NaN    174.00  2007
1033          Transit       1        4.125083     NaN    293.00  2008
1034          Transit       1        4.187757     NaN    260.00  2008

[1035 rows x 6 columns]
행성정보             number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [39]:
# 연도별 발견한 행성 수 집계
planet = planets.groupby('year').sum()
print('연도별 발견한 행성수', planet)

연도별 발견한 행성수       number  orbital_period       mass  distance
year
1989       1       83.888000   11.68000     40.57
1992       6       91.803900    0.00000      0.00
1994       3       98.211400    0.00000      0.00
1995       1        4.230785    0.47200     15.36
1996      15     2015.769933    7.91760     95.20
1997       1       39.845000    1.04000     17.43
1998      11      571.553306   13.43560    131.51
1999      24     8284.213789   45.31300    464.21
2000      27     8655.125170   50.86220    492.04
2001      15     8823.652700   37.74000    438.38
2002      46    31098.693942  122.05600   1376.28
2003      35    54550.912880   80.54100   1034.05
2004      41    11836.848236   21.81400   4249.89
2005      64    28195.315999   68.13250   1719.92
2006      43   749338.718705   35.99600  18486.41
2007      65    18915.474897  118.46700   7319.52
2008     120   648234.382394  147.24658   6315.54
2009     131   129256.581285  268.51400   6810.71
2010     193    64276.094943   52.87400  23882.06
2011     354   130082.081196  110.02660  49447.33
2012     258    62840.010462   87.80630  51259.04
2013     277    14256.811931   66.10200  37613.51
2014     117    15344.034471    5.34000   2159.02

In [63]:
# 연도별 발견 방법 method 별 발견한  행성 수 집계
planet = planets.groupby(['year','method'])['number'].sum()
print('연도별 발견 방법 method 별 발견한  행성 수\n', planet)

연도별 발견 방법 method 별 발견한  행성 수
 year  method
1989  Radial Velocity                    1
1992  Pulsar Timing                      6
1994  Pulsar Timing                      3
1995  Radial Velocity                    1
1996  Radial Velocity                   15
1997  Radial Velocity                    1
1998  Radial Velocity                   11
1999  Radial Velocity                   24
2000  Radial Velocity                   27
2001  Radial Velocity                   15
2002  Radial Velocity                   45
      Transit                            1
2003  Pulsar Timing                      1
      Radial Velocity                   34
2004  Imaging                            3
      Microlensing                       1
      Radial Velocity                   32
      Transit                            5
2005  Imaging                            1
      Microlensing                       2
      Radial Velocity                   61
2006  Imaging                            4
      Microlensing                       1
      Radial Velocity                   33
      Transit                            5
2007  Imaging                            1
      Pulsation Timing Variations        1
      Radial Velocity                   47
      Transit                           16
2008  Eclipse Timing Variations          4
                                      ...
2010  Astrometry                         1
      Eclipse Timing Variations          4
      Imaging                            9
      Microlensing                       2
      Radial Velocity                   92
      Transit                           85
2011  Eclipse Timing Variations          5
      Imaging                            3
      Microlensing                       1
      Orbital Brightness Modulation      4
      Pulsar Timing                      1
      Radial Velocity                  176
      Transit                          162
      Transit Timing Variations          2
2012  Eclipse Timing Variations          1
      Imaging                            2
      Microlensing                       8
      Radial Velocity                   70
      Transit                          175
      Transit Timing Variations          2
2013  Astrometry                         1
      Imaging                            7
      Microlensing                       4
      Orbital Brightness Modulation      1
      Radial Velocity                   65
      Transit                          197
      Transit Timing Variations          2
2014  Radial Velocity                   21
      Transit                           93
      Transit Timing Variations          3
Name: number, Length: 69, dtype: int64

In [28]:
# 행성데이터를 5년 주기로 발생된 행성 수 조회
# 주기를 의미하는 컬럼이 없으므로 해당 컬럼을 생성할 것!
print('5년주기', planets['year']//5)
#planets['decade5'] = (planets['year']//5)

5년주기 0       401
1       401
2       402
3       401
4       401
5       401
6       400
7       399
8       401
9       402
10      402
11      401
12      401
13      399
14      400
15      401
16      399
17      399
18      400
19      400
20      402
21      401
22      401
23      401
24      401
25      399
26      402
27      401
28      402
29      401
       ...
1005    402
1006    402
1007    402
1008    402
1009    402
1010    402
1011    402
1012    402
1013    402
1014    402
1015    402
1016    402
1017    402
1018    402
1019    402
1020    402
1021    402
1022    402
1023    402
1024    402
1025    402
1026    402
1027    402
1028    402
1029    402
1030    401
1031    401
1032    401
1033    401
1034    401
Name: year, Length: 1035, dtype: int64

In [59]:
# 행성데이터를 10년 주기로 발생된 행성 수 조회
# 주기를 의미하는 컬럼이 없으므로 해당 컬럼을 생성할 것!
#planets['decade10']
print('10년주기', planets['year']//10)
planets['decade10'] = 10*(planets['year']//10)

10년주기 0       200
1       200
2       201
3       200
4       200
5       200
6       200
7       199
8       200
9       201
10      201
11      200
12      200
13      199
14      200
15      200
16      199
17      199
18      200
19      200
20      201
21      200
22      200
23      200
24      200
25      199
26      201
27      200
28      201
29      200
       ...
1005    201
1006    201
1007    201
1008    201
1009    201
1010    201
1011    201
1012    201
1013    201
1014    201
1015    201
1016    201
1017    201
1018    201
1019    201
1020    201
1021    201
1022    201
1023    201
1024    201
1025    201
1026    201
1027    201
1028    201
1029    201
1030    200
1031    200
1032    200
1033    200
1034    200
Name: year, Length: 1035, dtype: int64

In [60]:
# 행성 데이터를 10년 주기로 발생된 행성수 조회
# 주기를 의미하는 컬럼이 없으므로 해당 컬럼을 생성할 것!
# print('10년주기', planets['year']//10)

planet = planets.groupby('decade10')['number'].count()
print('10년 주기로 발생된 행성수', planet)

10년 주기로 발생된 행성수 decade10
1980      1
1990     31
2000    406
2010    597
Name: number, dtype: int64

In [45]:
# 문자열을 날짜로 변환하기
dates = np.array(['2018-12-01 11:35 PM', '2017-08-15 10:01 AM', '2018-12-25 07:25 PM', '2018-12-32 13:25 PM'])

# 날짜/시간 변환시 errors='coerce'를 추가하면 변환할 수 없는 문자열
# 한편, 오류를 발생하는 문자열은 NaT로 출력
for i in range(len(dates)):
    print(pd.to_datetime(dates[i], errors='coerce', format='%Y-%m-%d %I:%M %p'))

2018-12-01 23:35:00
2017-08-15 10:01:00
2018-12-25 19:25:00
NaT

In [66]:
# 시계열 데이터 생성하기
df = pd.DataFrame()

# pd.date_range(시작일, 기간, 단위)
# freq=M 월,D 일, H 시간, T 분, S 초, W 주  
df['dates'] = pd.date_range('2001-01-01', periods=10, freq='H')
print(df)

df['dates'] = pd.date_range('2001-01-01', periods=10, freq='30S')
print(df)
print(df['dates'].dt.second)
# year를 month, day, hour, minute, second

                dates
0 2001-01-01 00:00:00
1 2001-01-01 01:00:00
2 2001-01-01 02:00:00
3 2001-01-01 03:00:00
4 2001-01-01 04:00:00
5 2001-01-01 05:00:00
6 2001-01-01 06:00:00
7 2001-01-01 07:00:00
8 2001-01-01 08:00:00
9 2001-01-01 09:00:00
                dates
0 2001-01-01 00:00:00
1 2001-01-01 00:00:30
2 2001-01-01 00:01:00
3 2001-01-01 00:01:30
4 2001-01-01 00:02:00
5 2001-01-01 00:02:30
6 2001-01-01 00:03:00
7 2001-01-01 00:03:30
8 2001-01-01 00:04:00
9 2001-01-01 00:04:30
0     0
1    30
2     0
3    30
4     0
5    30
6     0
7    30
8     0
9    30
Name: dates, dtype: int64

In [72]:
# 2001-01-01 01:00 ~ 2001-01-02 19:00 조회
print(df[(df['dates']>='2001-01-01 01:00:00')&(df['dates']<='2001-01-02 19:00:00')])

Empty DataFrame
Columns: [dates]
Index: []

In [75]:
# dates 컬럼을 index 칼럼으로 생성
df = df.set_index(df['dates'])
print(df.loc['2001-01-01 01:00:00':'2001-01-02 01:00:00'])

Empty DataFrame
Columns: [dates]
Index: []

In [77]:
# 날짜 계산하기
# 문자열을 Timestamp함수에 적용하면 바로 날짜형으로 변환
df = pd.DataFrame()
df['도착']=[pd.Timestamp('2018-12-01'),pd.Timestamp('2018-12-05')]
df['출발']=[pd.Timestamp('2018-12-01'),pd.Timestamp('2018-12-09')]
print('여행기간',df['출발']-df['도착'])

여행기간 0   0 days
1   4 days
dtype: timedelta64[ns]